/* colors.css */
:root {
  --primary-color: #82848D;
  --text-color-headings: red;
  --secondary-color: #C1AB60;
  --background-color-image: #EEF6F8;
  --background-color: #FFFFFF;
  --modal-color: #FFFFFF;
  --button-text-color: #FFFFFF;
  --header-color: #FFFFFF;
  --font-style: 'OpenSans-Regular';
  --primary-heading-color: #030303; /* Example color */
  --splash-background-color: #f1c40f;
  --logo-color: #e74c3c;
  --primaryColor: #82848D;
  --secondaryColor: #C1AB60;
  --splash-screen: url('./splash.png');
  --buttonText: #FFFFFF;
  /* --logo-image: url('./src/assets/logo.png');
  --background-image: url('./src/assets/background-image.png');
  --sub-logo: url('./src/assets/sub-logo.png'); */
  }
  

body {
  font-family: Arial, sans-serif;

}

#splashScreen {
  background-color: var(--splash-background-color);
  text-align: center;
  padding: 50px;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

#logo {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

#subLogo{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}


#heading {
  color: var(--text-color-headings);
  text-align: center;
  margin-top: 10px;
  font-size: 32px;
}

.borderless-input {
  border: none;
  border-bottom: 2px solid var(--secondary-color); /* Adds a bottom border */
  padding: 10px;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 80%;
  align-self: center;
}

.next-button {
  display: flex;
  justify-content: center;
}

.button {
  width: 80%;
  height: 40px;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--buttonText);
  border-radius: 16px;
  outline: none;
}

.forgot-password{
  display: flex;
  justify-content: end;
  margin-right: 30px;
  text-decoration: underline;
  color: var(--primary-color)
}

.register{
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  text-decoration: underline;
}


/* *************************************************************************** */
#DashboardContainer{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.parentDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#logoDashboard{
  display: flex;
  
  height: 35px;
  width: 35px;
}
